h1 { 
text-align: center;
margin-top: 30px;
    margin-bottom: 20px;}
p{margin: 10px;}
/*div{margin: 15px}*/
a{ text-decoration: none; margin-left: px:20px; margin-right:15px; } 
/*div {margin-top: 20px; margin-bottom: 30px;}*/
img {
    height: 100px;
    width: 100px;}
body { background: url(imagens/);}
    
    .btn-primary{
        background-color: #FF7F50 !important;
    }

.btn-secondary{
        background-color: #20B2AA !important;
    }